<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Home Page</h1>
    <p class="secret-text">Oral Exam</p>

    <form action="/logout" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button class="btn btn-dark">Logout</button>
    </form>

    


  </div>
</div>

<%- include('partials/footer') %>